.clients__ourclients{
    background-color: var(--color-bg);
    padding: 5rem;
}

.clients__ourclients-clients {
    margin-top: 3rem;

    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.clients__ourclients-clients div{
    padding: 2.5rem;
    border: 1px solid black;
    margin-top: 1rem;
}


.clients__ourclients-clients img{
    width: 12rem;
}


@media screen and (max-width: 750px){
    .clients__ourclients-clients{
        padding: 1.5rem;
    }

    .clients__ourclients{
        padding: 3rem 2rem;
    }
}

@media screen and (max-width: 700px){
    .clients__ourclients-clients{
        justify-content: center;
        margin-top: 2rem;
    }
}