.title{
    text-align: center;
}

.title h3{
    letter-spacing: 1px;
    color: var(--color-yellow);
    font-weight: 500;
}

.title h1{
    font-size: 2.3rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.title p{
    margin-top: 1rem;
    color: var(--color-grey);
    font-weight: 500;
}

@media screen and (max-width : 900px){
    .title h1{
        font-size: 2rem;
    }
}

@media screen and (max-width : 600px){
    .title h1{
        font-size: 1.7rem;
    }

    .title h3{
        font-size: 1rem;
    }
}
